.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-app);
}

.dashboard-main {
  flex: 1;
  margin-left: var(--sidebar-width);
  padding: var(--layout-padding);
  background-color: var(--bg-app);
  overflow-y: auto;
}

